
    .pie-date-picker{
        p{
            border: none;
            box-sizing: border-box;
            cursor: pointer;
            margin: 12px 16px;
            font-size: 14px;
            color: rgba(30, 13, 3, 1);
            background: rgba(255, 255, 255, 1);
        }
        i{
            cursor: pointer;
            color: rgba(255, 153, 60, 1);
            font-size: 24px;
            padding-right: 15px;
            padding-left: 15px;
        }
          
        .list-radio {
            display: flex;
            justify-content: space-between;
            cursor: pointer;
            .radio{
                width: 200px;
                height: 34px;
                display: flex;
                cursor: pointer;
                span {
    
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 34px;
                    letter-spacing: 0.015em;
                }
            }
        }
        .dates {
            display: none;
            position: absolute;
            top: 100%;
            padding: 24px 32px;
            background: #ffffff;
            box-shadow: 4px 4px 45px rgba(109, 46, 0, 0.35);
            border-radius: 20px;
            &.active {
                display: block;
            }
            .month {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 182px;
                margin-bottom: 16px;
              
                font-weight: bold;
                font-size: 18px;
                line-height: 100%;
                .mth{
                    width: 190px;
                }
                .arrows {
                    width: 35px;
                    height: 35px;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    color: #313131;
                    font-size: 20px;
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
            .days {
                display: grid;
                grid-template-columns: repeat(7, 1fr);
                gap: 10px;
                .day {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #313131;
                    position: relative;
                    width: 32px;
                    height: 32px;
                  
                    cursor: pointer;
                    &.selected {
                        color: #ffffff !important;
                        background: #FFBA7B;
                        border-radius: 50%;
                    }
                }
            }
        }
    
    }
    .top-day {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        margin-right: 7px;
        gap: 23px;
      
        
        font-weight: 600;
        font-size: 18px;
        p{
            color: #c55e00;
            &:nth-child(n + 8) {
                display: none;
            }
        }
    }
