.container{
    .top{
        height: 10%;
        display: flex;
        flex-direction: row;
        position: relative;
        
        .search-container{  
            position: relative;
            margin: 17px 0;
            width: 80%;
           
        }
        .notification-container{
            margin: 25px;
            display: flex;
            flex-direction: row; 
            position: relative; 
        }
    }
    .bottom{
        height: 90%;
        .content{
            
            width: 97%;
            height: 95%;
            background: #FFFFFF;
            border-radius: 24px;
            overflow: auto;
            overflow-x: auto;
            overflow-y: auto;
            .page-content {
              border-radius: 24px;
              height: 915px;
              color: black;
              
          }
          }
          
    }
}