.main{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: center;
    width: auto;
    height: 1080px;
    background-color: #f2eded;
    .navbar{
        width: 20%;
        display: flex;
        flex-direction: column;
    }
    .container{
        width: 80%;
        display: flex;
        flex-direction: column;
        
    }
}